/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Set a global font family */
}

/* Navbar Styles */
.navbar {
  display: flex;
  background-color: rgb(60, 124, 197);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 20px;
}

.nav-right {
  text-align: right;
  float: right;
}

.nav-right li {
  display: inline;
  float: left;
  padding-left: 15px;
}

.nav-right li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
}

.nav-right li a:hover {
  background-color: rgb(31, 199, 106);
}

.nav-right .active {
  background-color: #04AA6D;
}

/* Body Styles */
body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Styles */
header .header {
  background-color: #fff;
  height: 45px;
}

header a img {
  width: 134px;
  margin-top: 4px;
}

/* Login Page Form Styles */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
}

/* Form Inputs */
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}

/* Submit Button */
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form button:hover {
  background-color: #4CAF50;
}

/* Message Styles */
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* Container Styles */
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

/* Hover Effect for Buttons */
.btn:hover {
  background-color: rgb(31, 199, 106);
}
